* {
    margin: 0;
    padding: 0;
}

body {
    background: #E8DAB2;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 40rem;
    width: 100%;
}

.container>* {
    display: absolute;
    align-self: center;
}

.head {
    width: 10rem;
    height: 10rem;
    background-color: #DD6E42;
    border-radius: 100%;
}

.ear {
	position: absolute;
    background-color: #DD6E42;
    height: 3rem;
    width: 3rem;
    border-radius: 50% 100% 100% 100%;
    top: 14.5rem;
}

div.inner {
    position: absolute;
    background-color: #F7C4A5;
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 70% 100% 100% 100%;
    margin: .5rem;
}

div.ear.right {
    transform: translateX(7rem) rotate(90deg);
   /* margin-top: -3rem;*/
}

.face {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    height: 5rem;
    width: 5rem;
    top: -3.3rem;
    left: 2.4rem;
    z-index: 99rem;
}

.eye {
    border-radius: 100%;
    height: .6rem;
    width: .6rem;
    margin-top: .1rem;
    background-color: black;
}

div.eye.right {
    margin-left: 1.9rem;
}

.nose {
    position: absolute;
    background-color: #A15131;
    border-radius: 100% 100% 0% 0%;
    height: 1.2rem;
    width: 1.2rem;
}

.mouth {
    position: absolute;
    background-color: white;
    border-radius: 100%;
    margin-top: .8rem;
    margin-left: -.8rem;
    height: 2rem;
    width: 2rem;
}

.mouth:before {
    position: absolute;
    content: "";
    height: 2rem;
    width: 2rem;
    background-color: white;
    border-radius: 100%;
    margin-left: 1.4rem;
}

.stripe {
    position: relative;
    background-color: black;
    height: 2rem;
    width: .5rem;
    border-radius: 0 0 3px 100%;
    z-index: 1;
}

div.stripe.one {
    margin-top: .09rem;
    left: 4rem;
}

div.stripe.two {
    margin-top: -2.1rem;
    left: 4.9rem;
}

div.stripe.three {
    margin-top: -1.9rem;
    left: 5.8rem;
}

div.stripe.four,
.five,
.six {
    transform: rotate(-90deg);
    margin-top: -.9rem;
    top: 1.8rem;
    left: .7rem;
}
div.stripe.seven,.eight,.nine{
	transform: rotate(90deg);
	margin-top: -.9rem;
	top: -2rem;
    left: 8.7rem;
}